/*Mise en forme globale*/
body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 985px;
}
h1,h2{
    font-size: 120%;
    font-weight: bold;
}
h3{
    font-size: 90%;
    font-weight: 900;
}
p{
    font-size: 80%;
}
table{
    border-collapse: separate;
}
/*Mise en forme menu*/
.menu{      
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: -100px;
}
.menu a{
    margin-left: 30px;
    padding-top: 10px;   
    line-height: 60px;
    color: #0065fc;
    border-top: medium solid white;
    text-decoration: none;
}
#font-inscription{
    font-weight: bold;
}

a:visited{
    color: black;
}
a:hover{
    border-top: medium solid #0065fc;
}
/*Mise en forme header général*/
.header{
    height: 140px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
/*Mise en forme logo*/
.logo img{
    width: 100px;
    height: 40px;
}
.logo{
    margin: -2% 3% 0 0;
}
/*Mise en forme texte du header*/
.text-header{
    margin: 1% 3% 0 0;
}
.text-header p{
    margin-left: 2px;
}
/*Mise en forme du formulaire*/
.formulaire{
    height: 55px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items:flex-end;
}
#map{
    text-decoration: none;
    text-align: center;
    width: 52px;
    line-height: 55px;
    align-self: center;
    border: 1px solid #f2f2f2;
    border-radius: 9px 0 0 10px;
    background-color: #f2f2f2;
    cursor: pointer;
}
#ville{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    color: black;
    width: 240px;
    line-height: 49px;
    border-style: solid;
    border-color: #f2f2f2;
    margin-left: -1px;
}
#ville::placeholder{
    color: black;
    font-weight: bold;
    padding-left: 10px;
}
#rechercher{
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    width: 140px;
    color: white;
    background-color: #0065fc;
    border-radius: 0 10px 10px 0;
    line-height: 50px; 
    margin-left: -5px;
    border-color: transparent;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

/*Mise en forme des filtres*/
.filtres{
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
}
@media (max-width: 450px){
    .filtres{
        flex-flow: column wrap;
    }
}
.filtres i{
    text-decoration: none;
    text-align: center;
    width: 50px;
    line-height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 100% 100% 100% 100%;
    background-color: #deebff;
    color: #0065fc;
    margin-right: -30px;
    position: relative;
    z-index: 10;
}
.text-filtres{
    font-size: 15px;
    margin-right: 3%;
}
.filtres button{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    height: 50px;
    width: auto;
    border: 2px solid #f2f2f2;
    border-left-color: transparent;
    border-radius: 0 40px 40px 0;
    background-color: transparent;
    padding: 0 2% 0 4%;
    margin-right: 3%;
    cursor: pointer;
}
/*Effet des boutons des filtres*/
button:hover{
    border: 5px groove #0065fc;
    color: #0065fc;
    font-weight: bold;
}
/*Mise en forme Info*/
.info{
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;
    margin-top: 1%;
}
.info i{
    color: #0065fc; 
    padding-right: 1%;
}
/*Mise en forme générale Article*/
.color-blue{
    color: #0065fc;
}
.color-grey{
    color: #f2f2f2;
}
.section-1{
    display: flex;
    align-content: flex-start;
    height: 800px;
    width: auto;
    margin-top: -3%;
}
.section-2{
    display: flex;
    width: auto;
    margin-top: -20%;
}
.section-3{
    background-color: #f2f2f2;
    margin-top: -2%;
    padding: -3% 3% 3% 3% ;    
}
/*Mise en forme Article 1*/
.article-1{
    flex: 70%;  
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    height: 70%;   
}
.hebergement{
    margin: 3% 3% 0 3%;
}
.table-hebergement{
    border-spacing: 20px 20px;
    margin: -2% 3% 0 3%;
}
.table-hebergement a{
    color: black;
}
.photo-hebergement img{
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
    background-color: white;
}
.photo-hebergement figcaption{    
    border-radius: 0 0 20px 20px;
    background-color: white;
    margin-top: -2%;
    padding: 2% 2% 2% 3%;
    height: 15%;   
}
.photo-hebergement i{
    margin-top: 4%;
}
.footer-hebergement{ 
    margin: -2% 3% 0 4%;
}
/*Mise en forme Article 2*/
.article-2{
    flex: 30%;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    height: 70%;
    margin-left: 2%;
}
.populaire{
    margin: 3% 3% 0 3%;
    padding: 1% 0 0 3%;
}
.populaire i{
    text-decoration: none;
    background-color:#f2f2f2;
    margin-left: 40%;         
}
.table-populaire{
    border-spacing: 0 15px;
    margin: -3% 0 3% 3%;
}
.table-populaire img{
    border-radius: 20px 0 0 20px;
    border: 5px solid white;
    background-color: white;     
}
.table-populaire figcaption{
    border-radius: 0 20px 20px 0;
    border: 5px solid white;
    background-color: white;
    height: 114px;
    width: 180px;
    margin: -2% 2% 0 -2%;
    padding: 5% 3% 3% 5%;
}
.table-populaire i{
    margin-top: 15%;
}
/*Mise en forme Article 3*/
.table-activite{
    border-spacing: 30px 30px;
    margin: -2% 5% 0 -2%;
}
.table-activite img{
    border-radius: 20px 20px 0 0;
    border: #f2f2f2;
    box-shadow: 4px 0px 5px #f2f2f2;
}
.table-activite figcaption{
    height: 15%;   
    border: 2px solid #f2f2f2;
    border-radius: 0 0 20px 20px;
    font-size: small;
    font-weight: bold;
    box-shadow: 4px 4px 5px #f2f2f2;
    padding: 4% 3% 3% 4%;
    margin-top: -2%;
}
/*Mise en forme Article 4*/
.table-propos{
    width: 985px;
    margin: 3% 3% 0 3%;
}
.table-propos td{
    width: 45%;
}
.column-propos{
    padding-top: 2%;
}
.table-propos p{
    line-height: 50%;
}
